@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -2%;
        left: 0;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        background: $main-color;
        z-index: 1;
    }
}