@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
    .main {
        &__social {
            display: flex;
        }
        &__email {
            margin-top: 15px;
        }
    }
    
}

@media (max-width: 1200px) {
	.container {
        max-width: 960px;
    }

	.header {
		padding: 0 40px 0 40px;
		width: 98%;
		&__navigation {
			&-list {
				display: none;
			}
		}
	}

	.hamburger {
		display: flex;
		margin-right: 5%;
	}

	.main {
		&__title {
			width: 535px;
			margin-top: 10px;
		}
		&__subtitle {
			@include before_circle;
			&:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: -55%;
                left: -3px;
                width: 110px;
                height: 50px;
                border-radius: 10px;
			}
		}
		&__btns {
			margin-top: 25px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 250px;
		}
		&__link {
			font-weight: bold;
			&:hover {
				color: #000;
				text-decoration: none;
			}
		}
	}

    .experience {
        &__wrapper {
            padding: 0 20px 0 20px;
            column-gap: 80px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

	.header {
		padding: 0 25px 0 25px;

		&__navigation {
			&-list {
				display: none;
			}
		}
        &__title {
            a {
                svg {
                    width: 150px;
                }
            }
        }
	}

    .main {
        &__wrapper {
            width: 100%;
            padding: 25px 15px;
        }
        &__email {
            width: 100%;
        }
        &__description {
            margin-top: 0;
        }
    }

    .btn {
        &:hover {
            background-color: $main-color;
            color: #fff;
        }
    }

    .divider {
        margin: 15px auto 40px auto;
    }

    .experience {
        &__wrapper {
            column-gap: 60px;
            grid-template-columns: repeat(2,320px);
        }
    }

	.projects {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
	}

    .blog__item {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .header {
        width: 95%;
        height: 80px;
    }

    .languages {
        width: 90px;
        height: 50px;
        img {
            width: 32px;
        }
    }

    .main {
        &__title {
            width: 400px;
        }
		&__subtitle {
			@include before_circle;
			&:before {
				content: "";
				position: absolute;
				z-index: -1;
				top: -25%;
				left: -3px;
				width: 88px;
				height: 35px;
				border-radius: 10px;
			}
		}
		&__btns {
			margin-top: 25px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 250px;
				height: 50px;
				border-radius: 10px;
				font-size: 23px;
			}
		}
    }

    .experience {
        &__wrapper {
            grid-template-columns: 1fr;
            column-gap: 60px;
            row-gap: 40px;
        }
    }

    .projects {
        grid-template-columns: repeat(1, minmax(100%, 1fr));
        box-shadow: none;

    }

    .project {
        width: 95%;
        margin: 0 auto;
        &__description {
            min-height: 0px;
        }
    }
}


@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .page.active {
        margin-top: -50px;
        margin-bottom: 100px;
    }

	.header {
		justify-content: left;
		padding: 0;
		&__navigation-title {
			svg {
				width: 230px;
			}
		}
	}

	.hamburger {
		margin-right: -3%;
	}

    .main {
        &__title {
            width: 250px;
        }
        &__btns {
            margin-top: 30px;
        }
        &__subtitle {
			@include before_circle;
			&:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: -25%;
                left: -3px;
                width: 88px;
                height: 35px;
                border-radius: 10px;
			}
		}
    }

    .experience {
        &__wrapper {
            padding: 0 5px 0 5px;
        }
        &__item-body {
            font-size: 14px;
        }
    }

    .portfolio {
        &__filter {
            background-color: $background;
            margin-bottom: 10px;
            &-dropdown {
                padding: 10px;
                width: 100%;
            }
        }
    }

    .projects {
        padding: 5px;
        background: none;
    }

    .project {
        &__image {
            display: flex;
        }
        &__links-item {
            height: 30px;
            a {
                padding: 0px 30%;
            }
        }
        &__languages {
            bottom: 40px;
        }
        &__info {
            min-width: 90px;
        }
    }

    .blog {
        &__item {
            width: 95%;
            align-items: flex-start;

        }
    }
    
}

@media (max-height: 400px) {
	.menu {
		top: 15%;
	}
}