@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 150px;
    height: 5px;
    background-color: $main-color;
	margin: 25px auto 0 auto;
}

body {
	background-color: $background;
	top: 0 !important;
    cursor: url('../../src/img/cursor/cursor.png'), default;
}

html {
    scroll-behavior: smooth;
}

@import 'blocks/header';
@import 'blocks/languages';
@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/experience';
@import 'blocks/portfolio';
@import 'blocks/snow';
@import 'blocks/modal';
@import 'media';
