.blog {
    &__title {
        color: #fff;
		text-align: center;
    }
    &__link {
        color: #fff;
        &:hover {
            text-decoration: none;
        }
    }
    &__img {
        img {
            border-radius: 15px;
        }
    }
    &__item {
        background-color: $block-bg;
        border-radius: 20px;
        display: flex;
        align-items: center;
        width: 75%;
        margin: 0 auto;
        padding: 15px;
        cursor: pointer;
        margin-bottom: 20px;
        transition: all 0.3s;
        &:hover {
            transform: translateY(-2.5px);
        }
        &-wrapper {
            margin-left: 10px;
        }
        &-title {
            color: #fff;
            margin-bottom: 0;
        }
        &-subtitle {
            color: #808080;
            font-weight: 700;
        }
    }
}
