.btn {
    background: $main-color;
    color: #fff;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    &:focus {
        outline: none;
    }
    &:hover {
        text-decoration: none;
        background-color: #2f3570;
        color: #fff;
    }
}
