.experience {
	border-top: 2px solid #181818;
	min-height: 750px;
	padding: 40px 0 40px 0;
	&-title {
		color: #fff;
		text-align: center;
		@include before_circle;
		position: relative;
		&:before {
			top: -6px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&-subtitle {
		color: #fff;
		text-align: center;
	}
	&__wrapper {
		padding: 60px 65px 0 65px;
		display: grid;
		grid-template-columns: repeat(2, 425px);
		column-gap: 135px;
	}
	&__column {
		&-title {
			color: #fff;
			position: relative;
			padding-left: 20px;
			&:before {
				content: "";
				position: absolute;
				left: -7px;
				top: 50%;
				transform: translateY(-50%);
				width: 15px;
				height: 15px;
				background: $main-color;
				border-radius: 100%;
			}
		}
		ul {
			list-style-type: none;
			li {
				color: #fff;
				position: relative;
				&:after {
					content: "";
					width: 2px;
					height: calc(100% + 20px);
					position: absolute;
					top: -16px;
					left: 0; 
					background-color: #ffffff;
				}
			}
		}
	}
	&__item {
		position: relative;
		&:before {
			content: "";
			height: 2px;
			width: 45px;
			position: absolute;
			top: 68px;
			background-color: #ffffff;
		}
		&-head {
			position: relative;
			padding: 45px 0 0 100px;
			h4 {
				margin-bottom: 0;
			}
		}
		&-icon {
			position: absolute;
			top: 50px;
			left: 45px;
			@include before_circle;
			img {
				position: absolute;
				left: 17px;
				top: 14px;
			}
		}
		&-location {
			font-size: 16px;
			line-height: 18px;
			margin-top: 10px;
		}
		&-body {
			margin-bottom: 0;
			line-height: 18px;
			font-size: 16px;
			margin-top: 10px;
		}
	}
}