.header {
    background: $dark-color;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    display: flex;
    align-items: center;
    height: 90px;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    z-index: 3;

	&__title {
		order: -1;
		margin-right: auto;
		margin-left: 20px;
	  	text-align: center;
	  	font-size: 30px;
		font-weight: 700;
		svg {
			width: 200px;
			height: 70px;
		}
	}
}