.header {
    background: $dark-color;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    display: flex;
    align-items: center;
    height: 100px;
    width: 75%;
    margin: 0 auto;
    border-radius: 20px;
    z-index: 3;

	&__title {
		order: -1;
		margin-right: auto;
		margin-left: 20px;
	  	text-align: center;
	  	font-size: 30px;
		font-weight: 700;
		svg {
			width: 200px;
			height: 70px;
		}
	}
  
	&__navigation {
		display: flex;
		align-items: center;
	  	&-title {
			flex: 1;
            a {
            color: #fff;
            text-decoration: none;
                span {
                color: $main-color;
                }
            }
            svg {
                width: 280px;
                height: 90px;
            }
	    }
  
	  &-list {
		list-style: none;
		padding: 0;
		margin: 0;
	  }
  
	  &-item {
		margin-right: 20px;
		display: inline;
		text-decoration: none;
		font-size: 20px;
		font-weight: 700;
		color: #fff;
		a {
            display: inline-block;
            text-transform: uppercase;
			color: #fff;
			text-decoration: none;
			position: relative;
            transition: transform 0.3s ease;
            cursor: url('../../img/cursor/cursor-pointer.png'), pointer !important;
			&:hover {
				color: $main-color;
                transform: translateY(-3px);
			}
		}
	  }
	}
}