.languages {
    position: absolute;
    right: 20px;
    z-index: 4;
    background-color: $block-color;
    border-radius: 15px;
    width: 130px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        cursor: pointer;
    }
    &__item {
        transition: all .4s;
        &:hover {
            transform: translateY(-3px);
        }
    }
}