.main {
    position: relative;
    &__wrapper {
        display: flex;
        flex-direction: column;
        background-color: #252b4f89;
        border-radius: 25px;
        width: 60%;
        padding: 50px 25px 50px 25px;
        height: 100%;
    }
    &__title {
        color: #fff;
        width: 535px;
        margin-top: 25px;
    }
    &__description {
        background-color: $block-bg;
        padding: 10px;
        border-radius: 10px;
        margin-top: 25px;
        color: #fff;
    }
    &__social {
        display: none;
        background-color: $block-bg;
        border-radius: 10px;
        padding: 10px;
        a {
            svg {
                fill: #6168b4;
                width: 50px;
                height: 40px;
            }
        }
    }
    &__email {
        background: $block-bg;
        border-radius: 10px;
        width: 40%;
        display: flex;
        padding: 15px; 
        &-icon {
            margin-right: 5px;
        }
        &-text {
            display: flex;
            align-items: center;
            justify-content: left;
            a {
                text-align: center;
                text-decoration: none;
                color: #b6b6b6;
            }
        }
        &-copy {
            display: flex;
            align-items: center;
        }
        &-btn {
            margin-top: 5px;
            width: 110px;
            padding: 5px;
            border-radius: 5px;
        }
        &-copied {
            margin-left: 10px;
            color: $main-color;
            font-weight: 700;
        }
    }

    &__subtitle {
        color: #ffffff;
        position: relative;
        z-index: 2;
		span {
			color: #fff;
		}
        @include before_circle;
		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: -55%;
			left: -3px;
			width: 110px;
			height: 50px;
			border-radius: 10px;
			background: $main-color;
		}
    }
    &__btns {
        margin-top: 25px;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 70px;
        border-radius: 10px;
        &:hover {
            text-decoration: none;
            transform: translateY(-2px);
        }
    }
}
