@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1200px) {
	.promo {
		&__title {
			width: 535px;
			margin-top: 10px;
		}
		&__subtitle {
			position: relative;
			padding-left: 10px;
			z-index: 2;
			@include before_circle;
		}
		&__btns {
			margin-top: 25px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 250px;
		}
		&__link {
			color: #000;
			font-weight: bold;
			&:hover {
				color: #000;
				text-decoration: none;
			}
		}
	}	
    .container {
        max-width: 960px;
    }
    .experience {
        &__wrapper {
            padding: 40px 20px 0 20px;
            column-gap: 80px;
        }
		&__scale {
            grid-template-columns: repeat(auto-fit, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-between;
            padding: 0 30px;
        }
    }
    //.portfolio {
    //    &__wrapper {
    //        grid-template-columns: repeat(auto-fit, 280px);
    //        grid-auto-rows: 280px;
    //        justify-content: space-around;
    //        row-gap: 35px;
    //        .horizonal, .vertical {
    //            grid-row: unset;
    //            grid-column: unset;
    //        }
    //    }
    //}
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
            line-height: 42px;
            margin-top: 26px;
        }
    }
    .divider {
        margin: 15px auto 0 auto;
    }

    .experience {
        &__wrapper {
            column-gap: 60px;
            grid-template-columns: repeat(2,320px);
        }
		&__scale {
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: space-between;
            padding: 0;
            column-gap: 0;
            &-line {
                width: 100%;
            }
        }
    }
	.portfolio {
		&__wrapper {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}


@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }

    .experience {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            column-gap: 60px;
            row-gap: 40px;
        }
		&__scale {
            grid-template-columns: repeat(auto-fit, 320px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: center;
            margin-top: 80px;
            &-line {
                width: 100%;
            }
        }
    }
    //.portfolio {
    //    padding-top: 40px;
    //}
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
            line-height: 36px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
		background: linear-gradient(45deg, #ebebeb  70%, #808080 30%) no-repeat 57%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .experience {
        &__wrapper {
            padding: 40px 5px 0 5px;
        }
		&__scale {
            grid-template-columns: repeat(auto-fit,300px);
        }
    }
	.portfolio {
		&__item {
			img {
				width: 200px;
				height: 150px;
			}
		}
	}
}