.promo {
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(45deg, #EAEAEA 70%, #FFA501 30%);
    padding-top: 200px;
	&__img {
		margin-left: 495px;
	}
    &__title {
        width: 535px;
        margin-top: 14px;
		margin-left: 310px;
    }
    &__subtitle {
        position: relative;
        padding-left: 17px;
		margin-left: 453px;
        z-index: 2;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
		margin-left: 310px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
    }
    &__link {
        color: #000;
        font-weight: bold;
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
}

