.promo {
    min-height: 100vh;
    position: relative;
    background: linear-gradient(45deg, #000  70%, $main-color 30%) no-repeat 50%/cover;
    padding: 300px 0 0 0;
    &__title {
        color: #fff;
        width: 535px;
        margin-top: 25px;
    }
    &__email {
        margin-top: 15px;
        display: flex;
        &-icon {
            margin-right: 5px;

        }
        &-text {
            display: flex;
            align-items: center;
            a {
                text-decoration: none;
                color: #b6b6b6;
                cursor: url('../../img/cursor/cursor-pointer.png'), pointer !important;
            }
        }
        &-wrapper {
            height: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

        }
        &-btn {
            width: 120px;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 14px;
        }
        &-copy {
            color: #4fff09;
            font-weight: 700;
            font-size: 16px;
        }

    }

    &__subtitle {
        color: #ffffff;
        position: relative;
        z-index: 2;
		span {
			color: #fff;
		}
        @include before_circle;
		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: -55%;
			left: -3px;
			width: 140px;
			height: 50px;
			border-radius: 10px;
			background: $main-color;
		}
    }
    &__btns {
        margin-top: 25px;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 70px;
        border-radius: 10px;
        font-size: 36px;
        &:hover {
            text-decoration: none;
            transform: translateY(-2px);
        }
    }
}
