.sidepanel {
	position: fixed;
	top: 230px;
	left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 340px;
	z-index: 3;
	align-items: center;
	&__link {
		top: 5px;
		&:hover {
			svg path {
				fill: red;
			} 
		}
	}
	&__divider {
		width: 2px;
		height: 70px;
		background-color: #fff;
	}
	&__text {
		height: 125px;
		width: 25px;
		color: #fff;
		font-weight: 700;

		span {
			display: block;
			transform: rotate(-90deg) translate(-30%, -260%);
			width: 150px;
		}
	}

}