.sidepanel {
	background-color: #141414;
	border-radius: 50px;
	width: 70px;
    position: fixed;
    top: 305px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
    height: 250px;
    z-index: 3;
	a {
		margin: 0;
		svg {
			margin-top: 10px;
			margin-bottom: 10px;
			fill: #ffffff;
			width: 50px;
			height: 50px;
			transition: transform 0.2s ease;
			&:hover {
				transform: scale(1.4);
			}
		}
	}
}