.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    &_fz20 {
        font-size: 20px;
        line-height: 21px;
    }
    &_fz23 {
		margin-top: 15px;
        font-size: 23px;
        line-height: 24px;
    }
	&_fz30 {
		font-size: 30px;
		line-height: 30px;
	}
    &_fz46 {
        font-size: 46px;
    }
    &_fz58 {
        font-size: 58px;
    }
}